@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --color-fondo: #F1F5F9;  /* Color primario */
  --color-hover: #4F61E3;     /* Color para el hover */
  --color-secundario: #34974d; /* Otro color secundario */
  --color-borde-input: #e9e9e9;
}









/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    padding: 0px;
    
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
/* Botones*/

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;

}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-2{
  width: 150px;
  padding: 10px;
  margin: 5px;
}

.button-3{
  width: 150px;
  padding: 10px;
  margin: 5px;
  background-color: red;
  color: white;
}

.button-3:hover{
  width: 150px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(197, 56, 56);
  color: white;
}

/* Formulario */

.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  user-select: none;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
  user-select: none;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid var(--color-borde-input);
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  user-select: none;
  text-decoration: underline;
}



#formulario {
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  display: flex; /* Usamos flexbox para centrar los elementos */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  position: fixed; /* Usa fixed para asegurar que no se mueva al hacer scroll */
  top: 0; /* Alinea el formulario desde la parte superior */
  left: 0; /* Alinea el formulario desde la parte izquierda */
  z-index: 1000; /* Asegura que el formulario esté encima de otros elementos */
  background-color: rgba(82, 82, 82, 0.7); /* Fondo gris oscuro con transparencia */
  padding: 20px; /* Espacio interno alrededor del contenido */
  
}

.form-cont {
  width: 100%; 
  min-width: 650px;
  max-width: 650px; /* Asegura que el formulario no ocupe más de 650px */
  height: 580px; /* Ajusta la altura de acuerdo al contenido */
  background-color: #fff; /* Fondo blanco para el formulario */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
  padding: 0px 20px 0px 20px;
  overflow: hidden;
  


  

}




.nav-pills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #ddd;
  
}

.nav-item {
  flex: 1;
  text-align: center;

}

.nav-link {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #363636;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  background-color: #EFF4FB;
  margin: 2px;
  transition: background-color 0.3s;

}

.nav-link:hover {
  background-color: #3C50E0; /* Color activo para el tab */
  color: #fff;
  font-weight: 400;


}

.nav-link.active {
  color: #fff;
  font-weight: 400;
  background-color: #3C50E0; /* Color activo para el tab */

}
.avances {
  display: flex;
  flex-direction: column; /* Distribuye los elementos verticalmente */
  justify-content: space-between; /* Espaciado entre los elementos */
  height: 100%;
}

.boton-aceptar {
  display: flex;       /* Habilita flexbox */
  justify-content: flex-end;
  padding-right: 30px;
  position:relative;
  bottom: 11vh;
  
 
}

.tab-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  height: 450px;
  
}

.tab-pane {
  display: none;
}

.tab-pane.show {
  display: block;
}

.form-label {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #333;
}

.form-control {
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-borde-input);
  width: 100%;
  box-sizing: border-box;
  gap: 1px;
  outline: none;
}

.form-control-2 {
  display: flex;
  color: black;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid var(--color-borde-input);
  width: 100%;
  box-sizing: border-box;
  gap: 1px;
  outline: none;
  
}




.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  border: 2px solid #007bff;
  background-color: #E8F0FE;
}


.descripcion-impacto {
  padding-bottom: 10px;
}


/* Estilos específicos para el contenedor del input de moneda */
.input-moneda {
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--color-borde-input);
  border-radius: 5px;
  
 
}

.input-moneda:focus-within {
  border: 2px solid #007bff; /* Borde azul alrededor del contenedor */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul alrededor del contenedor */
}

/* Estilos específicos para el prefijo */
.currency-prefix, .currency-suffix {
  font-size: 1.0em;
  padding: 0 5px;
  color: #757575;
  user-select: none;
}

/* Estilos específicos para el input de número */
.input-moneda .valor {
  text-align: right; /* Alinear el número a la derecha */
  width: 100%;
  padding: 5px;
  margin: 0 5px;
  font-size: 1em;
  border: none;
}
.valor:focus, .valor:active {
  border: none;
  outline: none;
  border-color: #007bff;

}



textarea.form-control {
  resize: vertical;
}

.row {
  display: flex; /* Asegura que los elementos estén alineados en una línea */
  justify-content: space-between; /* Espacio equitativo entre las columnas */
  margin-bottom: 0px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
  vertical-align:middle;
  
}

/* Ajusta las columnas para que ocupen 50% del espacio en pantallas grandes */
.col {
  flex: 1; /* Ocupa el mismo espacio dentro de la fila */
  max-width: 48%; /* Asegura que las columnas no ocupen más del 50% */
  padding: 0 5px; /* Espacio entre las columnas */
  margin: 0px;
  padding: 0px;
  

}

button {
  padding: 10px 15px;
  background-color: #28a745; /* Verde para el botón */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838; /* Verde más oscuro en hover */
}


button:focus {
  outline: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select.form-control {
  font-size: 14px;
}

select.form-control:focus {
  border-color: #007bff;
}

.mb-3 {

  

  padding-bottom: 3px;
}



@media (max-width: 768px) {
  #formulario {
    padding: 10px;
  }

  .form-cont {
    width: 100%;
    height: auto;
  }

  .nav-pills {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .row {
    flex-direction: column; /* En pantallas pequeñas, las columnas se apilan verticalmente */

  }

  .col {
    flex: 0 0 100%; /* Las columnas ocuparán el 100% del ancho */
    padding: 0;
    margin-bottom: 15px; /* Añadir margen para separación */
    
  }
}



/* Cambiar el fondo de los campos de formulario cuando estén completos */
.form-control:valid {
  background-color: #fff; /* Verde claro */
  /*border-color: #bee6ac; /* Verde más oscuro en el borde */
}





/* From Uiverse.io by Yaya12085 */ 
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}





.container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
canvas {
  width: 40% !important;
  height: 200px !important;
}
